* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif, Arial;
}

/* Main */
header {
    height: 100%;
    background-color: #2c3e50;
}

#jumbotron,
.about-section,
#send-btn {
    background-color: #1abc9c;
}

#avatar img {
    height: 250px;
}

.divider-line {
    content: '';
    display: inline-block;
    height: 5px;
    background: white;
    border-radius: 10px;
    margin: 0 10px;
}

.divider-star {
    font-size: 30px;
} 

.portfolio-section .divider-line,
.contact-section .divider-line {
    background-color: black;
}

#artist-description {
    font-size: 22px;
}
.portfolio-box {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}
.portfolio-box img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.hover-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    display: none;
}

.portfolio-box:hover .hover-img {
    display: block;
}

.portfolio-box:hover img {
    filter: brightness(70%)
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

.about-text {
    font-size: 20px;
}

.social-i {
    width: 45px;
    height: 45px;
}

.freelancer p,
.location p {
    font-size: 20px;
}

.lime {
    color: lime;
}


/* / Main */

/* Footer */
.footer-top {
    background-color: #3a546d;
}

.footer-bottom {
    background-color: #2c3e50;
}


.social-i {
    font-size: 20px;
    width: 50px;
    height: 50px;
}

.freelancer p,
.location p {
    font-size: 20px;
}

.lime {
    color: lime;
    text-decoration: none;
}

.social-i:hover {
    cursor: pointer;
    background-color: white;
}

.social-i:hover {
    color: #3A546D;
}
/* / Footer */

/* /Debug */

.debug .navbar .container {
    height: 100%;
}

.debug .navbar-brand {
    background-color: lightblue;
    height: 100%;
}

.debug .navbar-nav {
    background-color: lightcoral;
    height: 100%;
}

.debug #jumbotron {
    height: 550px;
}

.debug #jumbo-main {
    background-color: lightpink;
    height: 100%;
}

.debug #avatar {
    background-color: lightskyblue;
    height: 250px;
}

.debug #artist-name {
    background-color: lightgreen;
    height: 50px;
}

.debug #star-hr {
    background-color: yellow;
    height: 15px;
}

.debug #artist-description {
    background-color: blue;
    height: 30px;
}

.debug .portfolio-section {
    background-color: lightgrey;
}

.debug #portfolio {
    background-color: rgb(255, 121, 73);
    height: 100%;
}

.debug .portfolio-box {
    background-color: palegoldenrod;
    height: 250px;
    border: 1px solid black;
}

.debug #about {
    background-color: violet;
}

.debug .about-text {
    background-color: lightgrey;
    border: 1px solid black;
}

.debug #contact-me {
    background-color: lightsalmon;
}

.debug  .location {
    background-color: lightsalmon;
    height: 200px;
}

.debug .around-web {
    background-color: sienna;
    height: 200px;
}

.debug .freelancer {
    background-color: lightcoral;
    height: 200px;
}

.debug .copyright {
    background-color: lightskyblue;
    height: 30px;
}


