* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif, Arial;
}

header {
    background-color: #2c3e50;
}

#jumbotron,
.about-section {
    background-color: #1abc9c;
}

#send-btn {
    background-color: #1abc9c;
}



/* /Debug */

.debug header {
    height: 100px;
}

.debug .navbar {
    height: 100%;
}

.debug .navbar .container {
    height: 100%;
}

.debug .navbar-brand {
    background-color: lightblue;
    height: 100%;
}

.debug .navbar-nav {
    background-color: lightcoral;
    height: 100%;
}

.debug #jumbotron {
    height: 550px;
}

.debug #jumbo-main {
    background-color: lightpink;
    height: 100%;
}

.debug #avatar {
    background-color: lightskyblue;
    height: 250px;
}

.debug #artist-name {
    background-color: lightgreen;
    height: 50px;
}

.debug #star-hr {
    background-color: yellow;
    height: 15px;
}

.debug #artist-description {
    background-color: blue;
    height: 30px;
}

.debug .portfolio-section {
    background-color: lightgrey;
}

.debug #portfolio {
    background-color: rgb(255, 121, 73);
    height: 100%;
}

.debug .portfolio-box {
    background-color: palegoldenrod;
    height: 250px;
    border: 1px solid black;
    border-radius: 20px;
}

.debug #about {
    background-color: violet;
}

.debug .about-text {
    background-color: lightgrey;
    border: 1px solid black;
}

.debug #contact-me {
    background-color: lightsalmon;
}


